<div class="container">
	<div class="row card">
		<div class="card-body">
			<h5 class="card-title">About</h5>
			<p class="card-text">
				S&W Swine Productions is located near Banquete, Texas which is 23 miles west of Corpus Christi
			</p>

			<p>
				We offer a variety of breeds including Berkshire, Hampshire, Crosses, Yorkshire, Landrace, Duroc,
				Chester White and
				Spots. Purebred registration papers and Texas bred papers are available for exhibitors of the major
				stock shows.
			</p>

			<p>
				Most of our farrowing occurs in mid-summer for the local county shows and the major stock shows. S&W
				Swine typically breeds between 35-55 sows yearly.
			</p>

			<p>
				The farm is run by the family with occasional help from friends and family . We take pride in our
				animals and facilities and work hard to keep our animals healthy and happy. It is a tireless job.
			</p>
		</div>
	</div>

	<div class="row card mt-2">
		<div class="card-body">
			<h5 class="card-title">Contact Info</h5>
			<p>Scot Sullivan</p>
			<p><strong>Home Phone</strong>: 361-387-9686</p>
			<p><strong>Cell Phone</strong>: 361-960-6725</p>
			<p><strong>Address</strong>: 5100 COUNTY ROAD 42 Robstown, Texas 78380</p>
		</div>
	</div>
</div>