<div class="container">
	<div class="row">
		<div class="col card">
			<div class="card-body">
				<h5 class="card-title mb-4">Upcoming Litters 2020</h5>

				<ng-container *ngFor="let sire of herdSires; let index = index">
					<div *ngIf="index != 0" class="row col-10 offset-1 section-spacer"></div>
					<div class="row mb-lg-4">
						<div class="col-md-6">
							<label style="font-weight: bold; font-size: large;">{{sire.name}}</label>
							<br>
							<a [href]="sire.link">
								<img [src]="imageContext + sire.imagePath">
							</a>
						</div>
						<div class="col-md-6">
							<label class="pt-md-4">
								{{sire.description}}
							</label>
						</div>
					</div>
				</ng-container>

			</div>
		</div>
	</div>


</div>