<div class="row navbar">
	<div class="col-lg-2 col-md-3 col-sm-6 navlink" (click)="navigate(routes.HOME)">
		Home
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6  navlink" (click)="navigate(routes.WINNERS)">
		Winners
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6  navlink" (click)="navigate(routes.HERD_SIRES)">
		Herd Sires
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6  navlink" (click)="navigate(routes.UPCOMING_LITTERS)">
		Upcoming Litters
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6  navlink" (click)="navigate(routes.ABOUT)">
		About
	</div>
</div>